.banner {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 150px 0;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  margin-bottom: 30px;
}

.banner .btn-green {
  margin-top: 20px
}

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}

